.about {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    scroll-margin-top: 20rem;
}

.about .about__left {
    max-width: 40rem;
    flex: 1;
}

.about .about__left .unb {
    margin: 1rem 0 2rem;
    position: relative;
    line-height: 0;
    max-height: 50vh;
    max-width: 40rem;
}

.about .about__right {
    flex: 1;
    max-width: 66rem;
    margin-left: 4rem;
}

.about .about__left .about__image {
    position: relative;
    line-height: 0;
}

.about .about__left .about__image::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid var(--tertiary-color);
    position: absolute;
    top: +4rem;
    right: +3rem;
    border-radius: 0.5rem;
    z-index: -1;
}

.about .about__left .about__image .unb {
    border-radius: 0.5rem;
    min-width: 25rem;
    max-width: 100%;
}

.about .about__left .about__image .background {
    position: absolute;
    top: -4rem;
    right: -3rem;
    z-index: -1;
}



@media only screen and (max-width: 768px) {
    .about {
        flex-direction: column;
        align-items: center;
        padding: 0 6rem;
    }
  
    .about .about__left {
        max-width: 66rem;
        text-align: center;
    }
  
    .about .about__right {
        text-align: justify;
        margin-left: 0;
    }

    .about .about__left .about__image .background {
        display: none;
    }

    .about .about__left .about__image::after {
        display: none;
    }
}