.achievements {
    margin-bottom: 16rem;
    scroll-margin-top: 15rem;
    text-align: justify;
  }
  
  .achievements ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }
  
  .achievements ul li.achievements__reversed-list {
    flex-direction: row-reverse;
  }
  
  .achievements ul li:not(:last-of-type) {
    margin-bottom: 12rem;
  }
  
  .achievements ul li .image img {
    width: 100%;
    min-width: 40rem;
    max-width: 47rem;
    height: auto;
  }
  
  .achievements ul li .achievements__info {
    max-width: 47rem;
  }
  
  .achievements ul li .achievements__info p {
    margin: 1rem 0 4rem;
  }
  
  .achievements ul li .achievements__info a {
    font-weight: 500;
    text-decoration: underline;
  }
  
  @media only screen and (max-width: 768px) {
    .achievements {
      padding: 4rem;
    }

    .achievements ul li,
    .achievements ul li.achievements__reversed-list {
      flex-direction: column;
    }
  
    .achievements ul li .achievements__info {
      max-width: 66rem;
    }
  
    .achievements ul li .image img {
      min-width: auto;
    }
  }