footer {
    background-color: var(--light-tertiary-color);
  }
  
  footer .footer__content {
    text-align: center;
    padding: 6rem 2rem 1rem;
    max-width: 47rem;
  }
  
  footer .footer__content .footer__contact span {
    display: block;
    transition: color 0.5s ease;
  }
  
  footer .footer__content .footer__contact span:hover {
    cursor: pointer;
    color: var(--tertiary-color);
    transition: color 0.5s ease;
  }
  
  footer .footer__content ul li {
    display: inline-block;
  }
  
  footer .footer__content ul a {
    display: inline-block;
    padding: 1rem;
  }
  
  footer .footer__content .footer__copyright {
    font-size: 1.4rem;
  }

  footer .footer__content .social-media {
    display: inline-block;
  }

  footer .footer__content .social-media li a img {
    width: 5rem;
    height: 5rem;
    border-radius: 20%;
    box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.3);
    object-fit: contain;
    background-color: white;
    padding: 1rem;
    transition: all 0.3s ease;
  }

  footer .footer__content .social-media li a img:hover {
    transform: scale(1.15);
    transition: all 0.3s ease;
    cursor: pointer;
  }