.skills {
    background-color: var(--light-tertiary-color);
    scroll-margin-top: 15rem;
}

.skills .skills__content {
    padding: 6rem 4rem;
    text-align: center;
}

.skills .tertiary-title {
    text-align: center;
}

.skills .skills__content .languages ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    margin-top: 3rem;
}

.skills .skills__content .languages ul li {
    height: 10rem;
    width: 10rem;
    transition: all 0.3s ease;
    margin-bottom: 1rem;
}

.skills .skills__content .languages ul li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20%;
    border-radius: 0.5rem;
    background-color: white;
}

.skills .skills__content .languages ul li:hover {
    transform: scale(1.15);
    transition: all 0.3s ease;
}
